<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
	<listener> 
		<listener-class>
		   com.example.web.ServletCtxListener
		</listener-class>
	</listener>
	<servlet>
	  <servlet-name>Upload</servlet-name>
	  <servlet-class>com.example.web.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Upload</servlet-name>
	  <url-pattern>/Upload.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-class>com.example.web.AddTag</servlet-class>
		<servlet-name>AddTag</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>AddTag</servlet-name>
		<url-pattern>/AddTag.do</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>RemoveTag</servlet-name>
		<servlet-class>com.example.web.RemoveTag</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>RemoveTag</servlet-name>
		<url-pattern>/RemoveTag.do</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.example.web.SearchAddTag</servlet-class>
		<servlet-name>SearchAddTag</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>SearchAddTag</servlet-name>
		<url-pattern>/SearchAddTag.do</url-pattern></servlet-mapping>
	<servlet>
		<servlet-class>com.example.web.SearchRemoveTag</servlet-class>
		<servlet-name>SearchRemoveTag</servlet-name></servlet>
	<servlet-mapping>
		<servlet-name>SearchRemoveTag</servlet-name>
		<url-pattern>/SearchRemoveTag.do</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.example.web.Delete</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/Delete.do</url-pattern></servlet-mapping>
	<servlet>
		<servlet-name>Update</servlet-name>
		<servlet-class>com.example.web.Update</servlet-class></servlet>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update.do</url-pattern></servlet-mapping>
</web-app>